* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;
  line-height: 1.5;
  color: #2d3436;
  background-color: #ffffff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* Только это и ничего больше для галереи */
.pswp__img {
  object-fit: contain !important;
}

/* Стили для подписи в галерее */
.pswp__caption__center {
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
  color: #eee;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
